---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
// import FormattedDate from '../../components/FormattedDate.astro';
// import { Image } from 'astro:assets';
import Card from "../../components/Card.astro";
import "../../styles/tailwindcss.css";
// const images = import.meta.glob("../../content/images/*", {eager: true});

const recipes = await getCollection("recipes");
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body class="dark">
        <Header />
        <main>
            <section>
                <ul
                    class="w-full flex flex-wrap justify-around gap-y-10 pt-10 gap-5"
                >
                    {
                        recipes.map((recipe) => {
                            return (
                                <li>
                                    <a href={`/recipes/${recipe.slug}/`}>
                                        <Card recipe={recipe} />
                                    </a>
                                </li>
                            );
                        })
                    }
                </ul>
            </section>
        </main>
    </body>
</html>
