---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "src/layouts/BaseLayout.astro";
// import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<"blog">["data"];

const { title, author } = Astro.props;
---

<BaseLayout title={title} description="Recipe">
    <main>
        <article>
            <div class="prose">
                <div class="title">
                    <h1>{title}</h1>
                    <hr />
                </div>
                <slot />
            </div>
        </article>
    </main>
</BaseLayout>
